.avatar {
  margin-right: 10px;
  margin-left: 10px;
}
.name {
  font-weight: 600;
}

.online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
}
.offline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}
