tr th {
  background: #1bb4cf;
  color: rgb(248, 240, 240);
  text-shadow: 0 1px 1px #2d2020;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #dbd9d9;
  padding: 10px 20px;
}

td {
  color: #757575;
  width: 240px;
  height: 28px;
  text-align: center;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #dbd9d9;
}

td:first-child {
  text-transform: capitalize;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #e9e8e8;
}
